.buttonright{
    position: absolute;
    top: 250px;
    left: 610px;
}
.buttonleft{
    position: absolute;
    top: 250px;
}
.slide{
    position: absolute;
    z-index: -3;
    width: 600px;
    height: 500px;
top: 20px;
left: 20px;}

button{
    z-index: 1;
    border: none;
    color: rgb(153, 94, 6);
    background-color: bisque;
    width: 30px;
    height: 30px;}

.caja{
    place-content: center;
    display: block;}