div{text-align: center;
width: 100%;
color: black;
display: none;}
@media screen and (max-width:480px) {
    body{background-color: lightgreen;}
    .movil{display: block;}
}
@media screen and (min-width: 480px) and (max-width:768px){
    body{background-color: lightblue;}
.tablet{display: block;}}

@media screen and (min-width: 769px) and (max-width:1279px) {
    body{background-color: lightpink;}
.portatil{display: block;}}

@media screen and (min-width: 1280px) {
    body{background-color: lightseagreen;}
.monitor{display: block;}}

@media print{
    .versionImprimir{display: block;
        font-family: 'Times New Roman', Times, serif;}
}