body{
    color: white;
    background-color: black;}
#presentation{
    width: 100%;
    text-align: center;}

#tittle{
    text-shadow: -2px 1px rgb(250, 211, 138)}

#instagram{
position: absolute;
    float: right;
background-color: white;
width: 100px;
height: 100px;}