body{
    margin: 0;
    padding: 0;
    background-image: url(/LM2223/examen/bg.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
body,header,footer,main,article,aside,p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    order: 3;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background-color: #ebcd7c;
    justify-content: space-around;
    height: 40px;
    padding: 5px;
}
nav>div{
    color: #b28306;
    width:fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c3803;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px;
}
nav>div:hover{
    color: white;
}
p::first-letter{
    font-size: 110%;
    color: #4c3803;
    font-weight: bold;
}
header{
    order: 1;
    color: #4c3803;
    border-radius: 20px;
    background-color:#b28306;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #4c3803;
}
header>h1{
    text-align: center;
    margin: 0;
    padding: 0;
}
main{
    order: 2;
    display: flex;
    flex-direction: column;
}

article{
    padding: 10px;
}

aside{
    padding: 10px;
    border-radius: 20px;
    background-color:#b28306;
}
footer{
    order: 4;
    margin: 20px 8px 20px 8px;
}
span>a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
.padre{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 480px) {
    body{
        max-width:75rem;
        margin: 0 auto;
    }
    nav{
        order: 1;
    }
    main{
        border-bottom: 8px solid #4c3803;
        flex-direction: row;
    }
    article{
        flex:75%
    }
    aside{
        flex:25%
    }
    
    nav>div{
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;
    }
}